{% extends 'base.html' %}
{% block js %}
    <script>
        function answer(option_pk) {
            fetch("{% url 'mainapp:answer_question' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    "match": {{ match.pk }},
                    "question": {{ question.pk }},
                    "option": option_pk
                })
            })
            .then(response => response)
            .then(result => {console.log(result.headers.get("judgment"));})
            .catch(error => {console.error(error);});
              
            // Function to retrieve the CSRF token from cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        }
    </script>
{% endblock js %}
{% block content %}
    {% if question %}
        {{ question }}
        {% for option in question.option_set.all %}
            <br>
            <button onclick="answer({{ option.pk }})">{{ option }}</button>
        {% endfor %}    
        <a href="{{ request.get_full_path }}">Próxima</a>
    {% else %}
        <p>Você já respondeu todas as perguntas da partida</p>
    {% endif %}
{% endblock content %}