{% extends 'base.html' %}
{% block statics %}
    {{ block.super }}
    <style>
        .question-indicator {
            text-align: center;
        }
        #timer {
            text-align: center;
            font-size: 2.5em;
            font-weight: 600;
            margin: 2vh 0 2vh 0;
        }
        #question {
            text-align: center;
            font-size: 1.2em;
            margin: 2vh 0 2vh 0;
        }
        .option {
            text-align: center;
            font-size: 1.3em;
            border-radius: 10px;
            background-color: #F2F2F2;
            margin: 1vh 0 1vh 0;
            padding: 2.5vh 0 2.5vh 0;
            border: none;
            width: 100%;
        }
        .option-right {
            background-color: #1EE76E;
            color: white;
        }
        .option-wrong {
            background-color: #741C28;
            color: white;
        }
    </style>
    <script>
        {% if question %}
            function disableButtons() {
                buttons = document.getElementsByClassName("option");
                for(i=0; i<buttons.length; i++) {
                    buttons[i].disabled = true;
                }
            }

            function manageButtons(judgment, option_pk) {
                disableButtons();
                if(judgment == "right") {
                    document.getElementById("option-" + option_pk).classList.add("option-right");
                } else if(judgment == "wrong") {
                    document.getElementById("option-" + option_pk).classList.add("option-wrong");
                }
            }

            function answer(option_pk) {
                fetch("{% url 'mainapp:answer_question' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({
                        "match": {{ match.pk }},
                        "question": {{ question.pk }},
                        "option": option_pk
                    })
                })
                .then(response => response)
                .then(result => {
                    manageButtons(result.headers.get("judgment"), option_pk);
                })
                .catch(error => {console.error(error);});
                
                // Function to retrieve the CSRF token from cookies
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            }
        {% endif %} 
    </script>
{% endblock statics %}

{% block box_board %}
    {% if question %}
        <div id="head">
            <div class="row justify-content-end"><div class="col-md-2"><div class="question-indicator"><i class="bi bi-star-fill"></i> 3/10</div></div></div>
            <div class="row justify-content-center"><div class="col-md-2"><div id="timer">5</div></div></div>
            <div class="row justify-content-center"><div class="col-md-12"><div id="question">{{ question }}</div></div></div>
        </div>
        <div id="options">
            {% for option in question.option_set.all %}
                <div class="row"><div class="col-md-12"><button onclick="answer({{ option.pk }})" class="option" id="option-{{ option.pk }}">{{ option }}</button></div></div>
            {% endfor %}
        </div>
        <a href="{{ request.get_full_path }}">Próxima</a>
    {% else %}
        <p>Você já respondeu todas as perguntas da partida</p>
    {% endif %}
{% endblock box_board %}

{% block content %}
    <div class="row justify-content-center">
        {{ block.super }} {# box_board é inserido aqui #}
    </div>
{% endblock content %}